# .env.example
PORT=5000
DB_HOST=localhost
DB_USER=root
# your local password
DB_PASSWORD=
DB_NAME=marvel_card_game
# CHANGE THIS TO SOMETHING SECURE OR SERVER WILL FAIL
JWT_SECRET=
# If you won't use local host, you need to uncomment and add this
# CLIENT_ORIGIN=
